<h1>Recent Earthquakes</h1>
<p>raw data records</p>

<ul>
  <% @earthquakes.each do |eq| %>
    <li>
      <%= render :partial => 'partials/earthquake', :locals => {:earthquake => eq } %>
    </li>
  <% end %>
</ul>