<h1>Recent Earthquakes</h1>
<p>based on <a href="https://explore.data.gov/Geography-and-Environment/Worldwide-M1-Earthquakes-Past-7-Days/7tag-iwnu">https://explore.data.gov/Geography-and-Environment/Worldwide-M1-Earthquakes-Past-7-Days/7tag-iwnu</a></p>

<ul>
  <% @earthquakes.each do |eq| %>
    <li>
      <%= render :partial => 'partials/earthquake', :locals => {:earthquake => eq } %>
    </li>
  <% end %>
</ul>